[submodule "agi_ast/lib/sqlalchemy"]
	path = agi_ast/lib/sqlalchemy
	url = https://github.com/zzzeek/sqlalchemy.git
[submodule "rails"]
	path = rails
	url = https://github.com/roramirez/turbobil-rails
